name: Build Flet APK
on:
  push:
    branches: [ main ] # mainブランチに保存されたら実行

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Build APK
        uses: flet-dev/flet-build-action@v1
        with:
          python-module-name: main # あなたのファイル名
          platform: android
