name: Build Flet APK
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11' # 安定版の3.11を推奨

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flet

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Build APK
        run: |
          flet build apk

      # ここから下を追加！
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: my-flet-app
<<<<<<< HEAD
          path: build/apk/*.apk
=======
          path: build/apk/*.apk
>>>>>>> a9984989bc8b8c9fd53568389d1212271634f880
